In [ ]:
class BankAccount:
  def __init__(self,user_name,account_type,balance = 1):
    self.user_name = user_name
    self.account_type = account_type
    self.balance = balance

account1 = BankAccount("Bilbo", "Savings")
print("=====================================")
print(f"User Name: {account1.user_name}")
print(f"Balance: {account1.balance}")
print(f"Account Type:", account1.account_type)
print("=====================================")
account2 = BankAccount("Frodo", "Business")
print(f"User Name: {account2.user_name}")
print(f"Balance: {account2.balance}")
print(f"Account Type: {account2.account_type}")
print("=====================================")

=====================================
User Name: Bilbo
Balance: 1
Account Type: Savings
=====================================
User Name: Frodo
Balance: 1
Account Type: Business
=====================================

In [ ]:
class BankAccount:
  def __init__(self,user_name,account_type,balance = 1):
    self.user_name = user_name
    self.account_type = account_type
    self.balance = balance
    print(f"New account balance of {self.user_name} is {self.balance}")


account1 = BankAccount("Bilbo", "Savings",15.75)
account2 = BankAccount("Frodo", "Business",700.50)

New account balance of Bilbo is 15.75
New account balance of Frodo is 700.5

In [ ]:
class MangoTree:
  def __init__(self,variety,height=1,number_of_mangoes=0):
    self.variety = variety
    self.height = height
    self.number_of_mangoes = number_of_mangoes
# Driver code
mangoTree1= MangoTree("Gopalbhog")
# Display the details of the mango tree
print("=====================================")
print("Mango Tree Details:")
print(f"Variety: {mangoTree1.variety}")
print(f"Height: {mangoTree1.height} meter(s)")
print(f"Number of mangoes on the tree: {mangoTree1.number_of_mangoes}")
print("=====================================")
mangoTree2= MangoTree("Amrapali")
# Display the details of the mango tree
print("Mango Tree Details:")
print(f"Variety: {mangoTree2.variety}")
print(f"Height: {mangoTree2.height} meter(s)")
print(f"Number of mangoes on the tree: {mangoTree2.number_of_mangoes}")
print("=====================================")

=====================================
Mango Tree Details:
Variety: Gopalbhog
Height: 1 meter(s)
Number of mangoes on the tree: 0
=====================================
Mango Tree Details:
Variety: Amrapali
Height: 1 meter(s)
Number of mangoes on the tree: 0
=====================================

In [ ]:
class MangoTree:
  def __init__(self,variety,height=1,number_of_mangoes=1,year=5):
    self.variety = variety
    self.height = height
    self.number_of_mangoes = number_of_mangoes
    self.year = year
    if self.variety == "Gopalbhog" or self.variety == "Amrapali":
      self.height = (3*self.height*self.year) + self.height
    if self.variety == "Gopalbhog":
      self.number_of_mangoes = self.number_of_mangoes * 10 * self.height
    elif self.variety == "Amrapali":
      self.number_of_mangoes = self.number_of_mangoes * 15 * self.height
# Driver code
mangoTree1= MangoTree("Gopalbhog")
# Display the details of the mango tree
print("Updated details after 5 years:")
print("=====================================")
print(f"Variety: {mangoTree1.variety}")
print(f"Height: {mangoTree1.height} meter(s)")
print(f"Number of mangoes on the tree: {mangoTree1.number_of_mangoes}")
print("=====================================")
mangoTree2= MangoTree("Amrapali")
# Display the details of the mango tree
print(f"Variety: {mangoTree2.variety}")
print(f"Height: {mangoTree2.height} meter(s)")
print(f"Number of mangoes on the tree: {mangoTree2.number_of_mangoes}")
print("=====================================")

Updated details after 5 years:
=====================================
Variety: Gopalbhog
Height: 16 meter(s)
Number of mangoes on the tree: 160
=====================================
Variety: Amrapali
Height: 16 meter(s)
Number of mangoes on the tree: 240
=====================================

In [ ]:
class Contacts:
  def __init__(self,names,numbers):
    self.names = names
    self.numbers = numbers

    self.contactDict = {}

    if len(names) == len(numbers):
      for i in range(len(names)):
        self.contactDict[names[i]] = numbers[i]
      print("Contacts saved successfully.")
    else:
        print("Contacts cannot be saved. Length Mismatch!")

# Driver code
names = ["Emergency", "Father", "Bestie"]
numbers = ["999", "01xx23", "01xx87", "01xx65", "01xx43"]

m1 = Contacts(names, numbers)
print("Saved Contacts:", m1.contactDict)
print("---------------------------------------------")

names.append("Mother")
numbers.pop()

m2 = Contacts(names, numbers)
print("Saved Contacts:", m2.contactDict)

Contacts cannot be saved. Length Mismatch!
Saved Contacts: {}
---------------------------------------------
Contacts saved successfully.
Saved Contacts: {'Emergency': '999', 'Father': '01xx23', 'Bestie': '01xx87', 'Mother': '01xx65'}

In [ ]:
class Student:
    def __init__(self,name,cgpa,courses_taken,student_status=None,advising_status=None):
        self.name = name
        self.cgpa = cgpa
        self.courses_taken = courses_taken
        self.student_status = student_status
        self.advising_status = advising_status

        if self.cgpa < 2:
            self.student_status = "Probation"
            if self.student_status == "Probation":
                if self.courses_taken == 1 or self.courses_taken == 2:
                    self.advising_status = "Approved"
                    print(f"Study hard this time,{self.name}.")
                else:
                  self.advising_status = "Denied"
                  print(f"Sorry, {self.name}, you are on probation and cannot take more than 2 courses.")

        elif self.cgpa >= 2:
            self.student_status = "Regular"
            if self.student_status == "Regular":
                if self.courses_taken == 3 or self.courses_taken == 4 or self.courses_taken == 5:
                    self.advising_status = "Approved"
                    print(f"All the best, {self.name}, for the upcoming semester.")
                else:
                  self.advising_status = "Denied"
                  print(f"Hello {self.name}, You are a regular student and have to take between 3 to 5 courses.")

        if self.advising_status == "Denied":
          self.courses_taken = 0





# Driver code
s1 = Student("Clark", 3.45, 4)
print(f"Name: {s1.name}\nCGPA: {s1.cgpa}\nCourses Taken: {s1.courses_taken}")
print(f"Student Status: {s1.student_status}\nAdvising Status: {s1.advising_status}")
print("--------------------------------------------------------------------------------")
s2 = Student("Barry", 1.93, 2)
print(f"Name: {s2.name}")
print(f"Student Status: {s2.student_status}\nAdvising Status: {s2.advising_status}")
print("--------------------------------------------------------------------------------")
s3 = Student("Diana", 2.91, 2)
print(f"Advising Status: {s3.advising_status}\nCourses Taken: {s3.courses_taken}")
print("--------------------------------------------------------------------------------")
s4 = Student("Bruce", 1.52, 5)
print(f"Advising Status: {s4.advising_status}\nCourses Taken: {s4.courses_taken}")

All the best, Clark, for the upcoming semester.
Name: Clark
CGPA: 3.45
Courses Taken: 4
Student Status: Regular
Advising Status: Approved
--------------------------------------------------------------------------------
Study hard this time,Barry.
Name: Barry
Student Status: Probation
Advising Status: Approved
--------------------------------------------------------------------------------
Hello Diana, You are a regular student and have to take between 3 to 5 courses.
Advising Status: Denied
Courses Taken: 0
--------------------------------------------------------------------------------
Sorry, Bruce, you are on probation and cannot take more than 2 courses.
Advising Status: Denied
Courses Taken: 0

In [ ]:
class CellPackage:
    def __init__(self, price, data, talk_time, messages, cashback, validity):
        self.price = int(price)

        data_value = int(data.split(' ')[0])
        if data_value != 0:
            self.data = data_value * 1024
        else:
            self.data = 0

        talk_time_value = int(talk_time)
        if talk_time_value != 0:
            self.talk_time = talk_time_value
        else:
            self.talk_time = 0

        messages_value = int(messages)
        if messages_value != 0:
            self.messages = messages_value
        else:
            self.messages = 0

        cashback_value = int(cashback.split('%')[0])
        if cashback_value != 0:
            self.cashback = cashback_value
        else:
            self.cashback = 0

        self.validity = int(validity)

    def display_info(self):
        if self.data != 0:
            print(f"Data = {self.data} MB")
        if self.talk_time != 0:
            print(f"Talktime = {self.talk_time} Minutes")
        if self.messages != 0:
            print(f"SMS/MMS = {self.messages}")
        print(f"Validity = {self.validity} Days")
        print(f"--> Price = {self.price} tk")
        if self.cashback != 0:
            print(f"Buy now to get {int(self.price * self.cashback * (1/100))} tk cashback.")

# Driver Code
pkg1 = CellPackage(150, '6 GB', 99, 20, '7%', 7)
print('===========Package 1=============')
pkg1.display_info()

pkg2 = CellPackage(700, '35 GB', 700, 0, '10%', 30)
print('===========Package 2=============')
pkg2.display_info()

pkg3 = CellPackage(120, '0 GB', 190, 0, '0%', 10)
print('============Package 3============')
pkg3.display_info()

===========Package 1=============
Data = 6144 MB
Talktime = 99 Minutes
SMS/MMS = 20
Validity = 7 Days
--> Price = 150 tk
Buy now to get 10 tk cashback.
===========Package 2=============
Data = 35840 MB
Talktime = 700 Minutes
Validity = 30 Days
--> Price = 700 tk
Buy now to get 70 tk cashback.
============Package 3============
Talktime = 190 Minutes
Validity = 10 Days
--> Price = 120 tk

In [ ]:
#TRACING

class Human:
    def __init__(self):
        self.age = 0
        self.height = 0.0


h1 = Human()
h2 = Human()
h1.age = 21
h1.height = 5.5
print(h1.age)
print(h1.height)
h2.height = h1.height - 3
print(h2.height)
h2.age = h1.age
h1.age += h1.age
print(h1.age)
h2 = h1
print(h2.age)
print(h2.height)
h1.age += h1.age
h2.height += h2.height
print(h1.age)
print(h1.height)
h2.age += h2.age
h1.age = h2.age
print(h2.age)

21
5.5
2.5
42
42
5.5
84
11.0
168

In [ ]:
###############################################

#Home Tasks

###############################################

In [ ]:
import datetime
today = datetime.date.today()
year = today.year
class Book:
  def __init__(self,name,author,year_of_publication,status=None):
    self.name = name
    self.author = author
    self.year_of_publication = year_of_publication
    self.status = status
    print("Checking the book.")

    if year - self.year_of_publication <= 100:
      self.status = "Rejected. The book is not antique enough."
    elif year - self.year_of_publication < 200 and year - self.year_of_publication>100:
      self.status = "Accepted. The book is stored on floor: 0."
    elif year - self.year_of_publication < 400 and year - self.year_of_publication>=200 :
      self.status = "Accepted. The book is stored on floor: 1."
    else:
      self.status = "Accepted. The book is stored on floor: 2."


#Driver Code
book1= Book('The Act', 'Ferguson', 1924)
print(f"{book1.author} wrote the book '{book1.name}'.")
print(f"This book was published in {book1.year_of_publication}.")
print(f"This book is {book1.status}")
print("-------------------------------------")
book2= Book('Flame', 'Nolan', 1932)
print(f"{book2.author} wrote the book '{book2.name}'.")
print(f"This book was published in {book2.year_of_publication}.")
print(f"This book is {book2.status}")
print("-------------------------------------")
book3= Book('Norms', 'Alfred', 1832)
print(f"{book3.author} wrote the book '{book3.name}'.")
print(f"This book was published in {book3.year_of_publication}.")
print(f"This book is {book3.status}")
print("-------------------------------------")
book4= Book('Apex', 'Samson', 1923)
print(f"{book4.author} wrote the book '{book4.name}'.")
print(f"This book was published in {book4.year_of_publication}.")
print(f"This book is {book4.status}")
print("-------------------------------------")
book5= Book('Habitat', 'Eden', 1723)
print(f"{book5.author} wrote the book '{book5.name}'.")
print(f"This book was published in {book5.year_of_publication}.")
print(f"This book is {book5.status}")
print("-------------------------------------")
book6= Book('Apocalypto', 'Menez', 1603)
print(f"{book6.author} wrote the book '{book6.name}'.")
print(f"This book was published in {book6.year_of_publication}.")
print(f"This book is {book6.status}")

Checking the book.
Ferguson wrote the book 'The Act'.
This book was published in 1924.
This book is Rejected. The book is not antique enough.
-------------------------------------
Checking the book.
Nolan wrote the book 'Flame'.
This book was published in 1932.
This book is Rejected. The book is not antique enough.
-------------------------------------
Checking the book.
Alfred wrote the book 'Norms'.
This book was published in 1832.
This book is Accepted. The book is stored on floor: 0.
-------------------------------------
Checking the book.
Samson wrote the book 'Apex'.
This book was published in 1923.
This book is Accepted. The book is stored on floor: 0.
-------------------------------------
Checking the book.
Eden wrote the book 'Habitat'.
This book was published in 1723.
This book is Accepted. The book is stored on floor: 1.
-------------------------------------
Checking the book.
Menez wrote the book 'Apocalypto'.
This book was published in 1603.
This book is Accepted. The book is stored on floor: 2.

In [ ]:
class Pokemon:
  def __init__(self,pokemon1_name,pokemon2_name,pokemon1_power,pokemon2_power,damage_rate):
    self.pokemon1_name = pokemon1_name
    self.pokemon2_name = pokemon2_name
    self.pokemon1_power = pokemon1_power
    self.pokemon2_power = pokemon2_power
    self.damage_rate = damage_rate

team_pika = Pokemon('pikachu', 'charmander', 90, 60, 10)
print('=======Team 1=======')
print('Pokemon 1:',team_pika.pokemon1_name, team_pika.pokemon1_power)
print('Pokemon 2:',team_pika.pokemon2_name, team_pika.pokemon2_power)
pika_combined_power = (team_pika.pokemon1_power + team_pika.pokemon2_power) * team_pika.damage_rate
print('Combined Power:', pika_combined_power)

team_bulb = Pokemon('bulbasaur', 'squirtle', 80, 70, 9)
print('=======Team 2=======')
print('Pokemon 1:',team_bulb.pokemon1_name, team_bulb.pokemon1_power)
print('Pokemon 2:',team_bulb.pokemon2_name, team_bulb.pokemon2_power)
bulb_combined_power = (team_bulb.pokemon1_power + team_bulb.pokemon2_power) * team_bulb.damage_rate
print('Combined Power:', bulb_combined_power)

=======Team 1=======
Pokemon 1: pikachu 90
Pokemon 2: charmander 60
Combined Power: 1500
=======Team 2=======
Pokemon 1: bulbasaur 80
Pokemon 2: squirtle 70
Combined Power: 1350

In [ ]:
class box:
  def __init__(self,data):
    self.height = data[0]
    self.width = data[1]
    self.breadth = data[2]
    print("Creating a Box!")

print("Box 1")
b1 = box([10,10,10])
print("=========================")
print("Height:", b1.height)
print("Width:", b1.width)
print("Breadth:", b1.breadth)
volume = b1.height * b1.width * b1.breadth
print(f"Volume of the box is {volume} cubic units.")
print("-------------------------")
print("Box 2")
b2 = box((30,10,10))
print("=========================")
print("Height:", b2.height)
print("Width:", b2.width)
print("Breadth:", b2.breadth)
volume = b2.height * b2.width * b2.breadth
print(f"Volume of the box is {volume} cubic units.")
b2.height = 300
print("Updating Box 2!")
print("Height:", b2.height)
print("Width:", b2.width)
print("Breadth:", b2.breadth)
volume = b2.height * b2.width * b2.breadth
print(f"Volume of the box is {volume} cubic units.")
print("-------------------------")
print("Box 3")
b3 = b2
print("Height:", b3.height)
print("Width:", b3.width)
print("Breadth:", b3.breadth)
volume = b3.height * b3.width * b3.breadth
print(f"Volume of the box is {volume} cubic units.")

########## PART B ##########
one = (b3 == b2)

b3.width = 100
two = (b3 == b2)
print(one)
print(hex(id(one)))
print(two)
print(hex(id(two)))
print(b2.width)

Box 1
Creating a Box!
=========================
Height: 10
Width: 10
Breadth: 10
Volume of the box is 1000 cubic units.
-------------------------
Box 2
Creating a Box!
=========================
Height: 30
Width: 10
Breadth: 10
Volume of the box is 3000 cubic units.
Updating Box 2!
Height: 300
Width: 10
Breadth: 10
Volume of the box is 30000 cubic units.
-------------------------
Box 3
Height: 300
Width: 10
Breadth: 10
Volume of the box is 30000 cubic units.
True
0x5cfcdbd9f420
True
0x5cfcdbd9f420
100

In [ ]:
class Order:
    def __init__(self, menu, order_string,items=None):
        self.menu = menu
        self.order_string = order_string
        self.items = items
        self.items = []
        total_price = 0

        items_list = self.order_string.split(', ')

        for item_info in items_list:
            item, quantity = item_info.split('-')
            price = self.menu[item] * int(quantity)
            total_price += price
            # self.items.extend([item, quantity, price])
            self.items.append(item)
            self.items.append(int(quantity))
            self.items.append(price)



# Driver code
menu = {
    'Chicken_Cheeseburger': 249,
    'Mega_Cheeseburger': 289,
    'Fries': 139,
    'Hot_Wings': 99,
    'Rice_Bowl': 299,
    'Soft_Drinks': 50
}

order1 = Order(menu, "Chicken_Cheeseburger-2, Fries-3, Soft_Drinks-3")
print(order1.items)
print()

print('-'*35)
print('Item           x Quantity :   Price')
print('--------------   --------   -------')

index = 0
total = 0
while index < len(order1.items) - 1:
    item = order1.items[index]
    quantity = order1.items[index + 1]
    price = order1.items[index + 2]

    print(f'{item:20} x {quantity:2} : {price:7.2f}')
    total += price
    index += 3  # Going to the next item

print('-'*35)
print(f'Total:                      {total:7.2f}')
print('-'*35)

['Chicken_Cheeseburger', 2, 498, 'Fries', 3, 417, 'Soft_Drinks', 3, 150]

-----------------------------------
Item           x Quantity :   Price
--------------   --------   -------
Chicken_Cheeseburger x  2 :  498.00
Fries                x  3 :  417.00
Soft_Drinks          x  3 :  150.00
-----------------------------------
Total:                      1065.00
-----------------------------------

In [ ]:
#TRACING

class Student:
    def __init__(self):
        self.name = None
        self.cgpa = 0.0
s1 = Student()
s2 = Student()
s3 = None
s1.name = "Student One"
s1.cgpa = 2.3
s3 = s1
s2.name = "Student Two"
s2.cgpa = s3.cgpa + 1
s3.name = "New Student"
print(s1.name)
print(s2.name)
print(s3.name)
print(s1.cgpa)
print(s2.cgpa)
print(s3.cgpa)
s3 = s2
s1.name = "old student"
s2.name = "older student"
s3.name = "oldest student"
s2.cgpa = s1.cgpa - s3.cgpa + 4.5
print(s1.name)
print(s2.name)
print(s3.name)
print(s1.cgpa)
print(s2.cgpa)
print(s3.cgpa)

New Student
Student Two
New Student
2.3
3.3
2.3
old student
oldest student
oldest student
2.3
3.5
3.5