In [1]:
class Student:
  ID = 0
  def __init__(self,name,department,age,cgpa):
    self.name = name
    self.department = department
    self.age = age
    self.cgpa = cgpa
    Student.ID += 1
    self.id = Student.ID
  @classmethod
  def from_String(cls,info):
    name,department,age,cgpa = info.split('-')
    string = cls(name,department,age,cgpa)
    return string
  def showDetails(self):
    print(f'ID: {self.id}\nName: {self.name}\nDepartment: {self.department}\nAge: {self.age}\nCGPA: {self.cgpa}')
s1 = Student("Samin", "CSE", 21, 3.91)
s1.showDetails()
print("-----------------------")
s2 = Student("Fahim", "ECE", 21, 3.85)
s2.showDetails()
print("-----------------------")
s3 = Student("Tahura", "EEE", 22, 3.01)
s3.showDetails()
print("-----------------------")
s4 = Student.from_String("Sumaiya-BBA-23-3.96")
s4.showDetails()

ID: 1
Name: Samin
Department: CSE
Age: 21
CGPA: 3.91
-----------------------
ID: 2
Name: Fahim
Department: ECE
Age: 21
CGPA: 3.85
-----------------------
ID: 3
Name: Tahura
Department: EEE
Age: 22
CGPA: 3.01
-----------------------
ID: 4
Name: Sumaiya
Department: BBA
Age: 23
CGPA: 3.96

In [2]:
class Passenger:
  count = 0
  def __init__(self,name):
    self.name = name
    self.fare = 450
    Passenger.count += 1
  def set_bag_weight(self,weight):
    if 21 <= weight <= 50:
      self.fare += 50
    elif weight > 50:
      self.fare += 100
  def printDetail(self):
    print(f'Name: {self.name}\nBus Fare: {self.fare}')

print("Total Passenger:", Passenger.count)
p1 = Passenger("Jack")
p1.set_bag_weight(90)
p2 = Passenger("Carol")
p2.set_bag_weight(10)
p3 = Passenger("Mike")
p3.set_bag_weight(25)
print("=========================")
p1.printDetail()
print("=========================")
p2.printDetail()
print("=========================")
p3.printDetail()
print("=========================")
print("Total Passenger:", Passenger.count)

Total Passenger: 0
=========================
Name: Jack
Bus Fare: 550
=========================
Name: Carol
Bus Fare: 450
=========================
Name: Mike
Bus Fare: 500
=========================
Total Passenger: 3

In [3]:
class Travel:
  count = 0
  def __init__(self,source,destination):
    self.source = source
    self.destination = destination
    Travel.count += 1
    self.time = 1
  def set_source(self,source):
    self.source = source
  def set_destination(self,destination):
    self.destination = destination
  def set_time(self,time):
    self.time += (time - 1)
  def display_travel_info(self):
    print(f'Source: {self.source}\nDestination: {self.destination}')
    return f'Flight Time: {self.time}:00'

print("No. of Traveller =", Travel.count)
print("=======================")
t1 = Travel("Dhaka","India")
print(t1.display_travel_info())
print("=======================")
t2 = Travel("Kuala Lampur","Dhaka")
t2.set_time(23)
print(t2.display_travel_info())
print("=======================")
t3 = Travel("Dhaka","New_Zealand")
t3.set_time(15)
t3.set_destination("Germany")
print(t3.display_travel_info())
print("=======================")
t4 = Travel("Dhaka","India")
t4.set_time(9)
t4.set_source("Malaysia")
t4.set_destination("Canada")
print(t4.display_travel_info())
print("=======================")
print("No. of Traveller =", Travel.count)

No. of Traveller = 0
=======================
Source: Dhaka
Destination: India
Flight Time: 1:00
=======================
Source: Kuala Lampur
Destination: Dhaka
Flight Time: 23:00
=======================
Source: Dhaka
Destination: Germany
Flight Time: 15:00
=======================
Source: Malaysia
Destination: Canada
Flight Time: 9:00
=======================
No. of Traveller = 4

In [4]:
class Student:
  bracu_student = 0
  other_student = 0
  def __init__(self,name,dept,institute = 'BRAC University'):
    self.name = name
    self.dept = dept
    self.institute = institute
    if institute == 'BRAC University':
      Student.bracu_student += 1
  def individualDetail(self):
    print(f'Name: {self.name}\nDepartment: {self.dept}\nInstitution: {self.institute}')
  @classmethod
  def printDetails(cls):
    print(f'Total Student(s): {Student.bracu_student + Student.other_student}\nBRAC University Student(s): {Student.bracu_student}\nOther Institution Student(s): {Student.other_student}')
  @classmethod
  def createStudent(cls,name,dept,institute = 'BRAC University'):
    if institute != 'BRAC University':
      Student.other_student += 1
    student = cls(name,dept,institute)
    return student

Student.printDetails()
print('#########################')
mikasa = Student('Mikasa Ackerman', "CSE")
mikasa.individualDetail()
print('------------------------------------------')
Student.printDetails()
print('========================')
harry = Student.createStudent('Harry Potter', "Defence Against Dark Arts", "Hogwarts School")
harry.individualDetail()
print('-------------------------------------------')
Student.printDetails()
print('=========================')
levi = Student.createStudent("Levi Ackerman", "CSE")
levi.individualDetail()
print('--------------------------------------------')
Student.printDetails()

Total Student(s): 0
BRAC University Student(s): 0
Other Institution Student(s): 0
#########################
Name: Mikasa Ackerman
Department: CSE
Institution: BRAC University
------------------------------------------
Total Student(s): 1
BRAC University Student(s): 1
Other Institution Student(s): 0
========================
Name: Harry Potter
Department: Defence Against Dark Arts
Institution: Hogwarts School
-------------------------------------------
Total Student(s): 2
BRAC University Student(s): 1
Other Institution Student(s): 1
=========================
Name: Levi Ackerman
Department: CSE
Institution: BRAC University
--------------------------------------------
Total Student(s): 3
BRAC University Student(s): 2
Other Institution Student(s): 1